body * { 
    font-family: Arial;
    user-select: none;
}
.btn {
    width: 150px;
    height: 50px;
    background-color: #73a3f0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

#draw-canvas {
    box-sizing:border-box;
    width: 500px;
    height: 500px;
    border: 1px solid grey;
}

.row { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

#connection-id {
    user-select: text;
}
hr { 
    width: 50%;
}

#connection-id-wrapper { 
    visibility: hidden;
}

#connection-id-wrapper span{ 
    font-weight: bold;
    padding-right: 10px;
}