@page "/{roomId=null}"

@model WebApplication7.Pages.IndexModel


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main">
        <canvas id="draw-canvas"></canvas>

        <div class="row">
            <table>
                <th>
                    Color
                </th>
                <th>
                    Opacity
                </th>
                <tr>
                    <td>
                        <input type="color" name="color" id="color-picker" value="#fff" />
                    </td>
                    <td>
                        <input type="range" name="opacity" value="1" max="1" min="0" step="0.1" id="color-opacity" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <input type="button" name="clear" id="clear-btn" value="Clear" />
        </div>

        <div class="row">
            <div id="create-room-btn" class="btn">Create room</div>
            <div id="connect-room-btn" class="btn">Connect to room</div>
        </div>

        <div class="row" id="connection-id-wrapper">
            <span>Your connection token: </span>
            <div id="connection-id"></div>
        </div>

        <hr>

        <h3>Connected users: </h3>
        <ul id="connected-users">
        </ul>
    </div>

    <input type="hidden" id="current-room-id" value="@(RouteData.Values["roomId"])" />

    <script src="./js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>